.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.element-label {
    float: left;
    input-float: right;
    margin-top: 5px;
}

.seperator {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}